<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Item</th>
        <th>Código</th>
        <th>Descripción</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let values of shopping_cart_list_items.items">
        <td class="text-center">{{  values.item }}</td>
        <td>{{  values.codigo }}</td>
        <td>{{  values.descripcion }}</td>
        <td class="text-center">{{  values.cantidad }}</td>
        <td class="text-center">{{  values.precio }}</td>
        <td class="text-center">{{  values.moneda }} {{  values.cantidad *  values.precio  }}</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total: </th>
          <th class="text-center">{{ shopping_cart_list_items.moneda  }} {{ totalItems()  }}</th>
        </tr>
    </tfoot>
  </table>
</div>
